/* css */

*{
	/* display */
	display: block;
	/* 
	display: inline-block;
	display: inline;
	display: none; 
	*/

	/* width and height */
	width: 17px;
	/* 
	width: 17em;
	width: 17rem;
	width: 17%;
	width: auto;
	*/
}