
// Variables
	$font-stack: Helvetica, sans-serif;
	$primary-color: #333;

body {
		font: 100% $font-stack;
		color: $primary-color;
	}



// Nesting
	nav {
		ul {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		}
	
		li { display: inline-block; }
	
		a {
		  display: block;
		  padding: 6px 12px;
		  text-decoration: none;
		}
	  }
  


// Partials
	  // set filename with leading underscore: _partial.scss
	  // import using: @import
		  // Manifest File - file wherein partials are imported



// Imports
	  @import "reset";
		
	  

// Mix ins
	  @mixin transform ($property: rotate(90deg)) { //value after the colon is the default value
		  -webkit-transform: $property;
		  -moz-transform: $property;
		  -ms-transform: $property;
		  -o-transform: $property;
		  transform: $property;
	  }

	  .translateX{
		  @include transform(rotate(45deg));
	  }



// Extend/Inheritance
		// This CSS won't print because %equal-heights is never extended.
		%equal-heights {
			display: flex;
			flex-wrap: wrap;
		}
		
		// This CSS will print because %message-shared is extended.
		%message-shared {
			border: 1px solid #ccc;
			padding: 10px;
			color: #333;
		}
		
		.message {
			@extend %message-shared;
		}
		
		.success {
			@extend %message-shared;
			border-color: green;
		}
		
		.error {
			@extend %message-shared;
			border-color: red;
		}
		
		.warning {
			@extend %message-shared;
			border-color: yellow;
		}


		
//Operators