/*
  LOGIN
  THREE COLUMNS FRAME
  SIDE NAVIGATION BAR
  MAIN CONTENT
  RIGHT PANE
  GLOBAL CLASS
    FONT SIZE
    COLOR
*/
@import "./color.less";
@import "./toast.less";
@import "./DateRange.less";
@import "./chat.less";
@import "./timeline.less";

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.col-custom, .constant-board {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
/*  LOGIN */

  span.fa {
    float: right;
    top: 25px;
    right: 40px;
    position: relative;
  }

  .logo {
    width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .login-username, .login-password {
    padding: 0px 40px;
    border-radius: 16px;
    min-width: 310px;
    background: #1D2538;
    font-size: 10px;
    border: 0;
    color: #999999;
  }

  .checkbox {
    line-height: 20px;
    display: inline;
  }

  label.checkboxs input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    bottom: 1px;
  }

  .remember-password {
    font-size: 10px;
    margin-left: 35px;
    margin-right: 25px;
    margin-top: 5px;
    color: #6D7991;
    padding: 10px 0
  }

  .login-submit {
    width: 100%;
    border-radius: 16px;
    background: #3D4C69;
    color: #E4E7E9;
    font-weight: normal;
    outline: none;
    margin-top: 10px;
  }

  .login-submit:hover, .login-submit:focus {
    background: #1D2538;
    outline: none
  }

  .arr {
    margin-top: 75px;
    color: #636364;
    font-size: 9px;
    text-align: center;
  }

  .btn:focus, .btn-primary:active:focus {
    outline: none;
  }

  .form-control {
    height: 34px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: block;
    width: 100%;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
  }

  .form-control:focus {
    color: #999999;
    background: #1D2538;
    outline: 0;
    box-shadow: 0 0 0 0;
  }

  .dashboard-body .form-control {
    height: 34px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: block;
    width: 100%;
    line-height: 1.7;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 6px 6px;
    font-size: 12px;
    color: #b4bac6 !important;
  }

  .dashboard-body .form-control:focus {
    color: #b4bac6;
    background: #1D2538;
    outline: 0;
    box-shadow: 0 0 0 0;
  }

  .dashboard-param .pull-right span {
    color: #b4bac6 !important;
  }

  button.selected-date-range-btn.custom.btn.btn-default {
    font-size: 11px;
    color: @dark-1 !important;
    padding: 3px 15px;
    height: 27px;
    line-height: 1.7 !important;
    margin-top: -2px !important;
  }

  button.btn.btn-primary.login-submit, button.btn.btn-primary.login-submit:hover,
  button.btn.btn-primary.login-submit:not(:disabled):not(.disabled):active:focus {
    border: 0;
    box-shadow: 0 0 0 0;
  }

/* LOGIN */

/*  THREE COLUMNS FRAME */

  .col-custom {
    /* top: 0;
    left: 0;
    z-index: 10;
     */
    background: @dark-4;
    border-left: 8px solid @dark-3;
    box-shadow: 0px 2px 8px -1px #18202E;
    width: 58px;
    float: left;
    height: 100%;
    position: relative;
  }

  .content-pane {
    /* width: 100%;
    position: absolute;
    top: 0;
    left: 0; */
    height: 100vh;
    width: calc(100% - 58px);
    float: left;
    height: 100%;
  }

  .content-pane-main {
    width: 70%;
    float: left;
    height: 100%;
    background: @dark-5;
    padding: 15px;
    position: relative;
  }

  .constant-board {
    width: 30%;
    float: left;
    height: 100%;
    padding: 15px 24px;
  }

  .col-60 {
    flex: 1;
    max-width: 70%;
    background: @dark-5;
    float: left;
    padding-left: 83px;
    padding-top: 15px;
    height: 100vh;
  }
  .col-40 {
    flex: 1;
    max-width: 30%;
    float: left;
    height: 100vh;
    padding: 15px 25px;
  }

/*  THREE COLUMNS FRAME */

/*  SIDE NAVIGATION BAR */

  .sideNav {
    font-size: 16px;
  }

  ul.sideNav-header {
    padding-left: 16px;
  }

  ul.sideNav-header li {
    display: block;
    list-style-type: none;
    margin-bottom: 25px;
  }

  ul.sideNav-footer {
    position: absolute;
    bottom: 0;
    padding-left: 16px;
  }

  ul.sideNav-footer li {
    list-style-type: none;
    color: #3c4c69;
    margin-bottom: 25px;
  }

  @media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
  }


  @media only screen and (max-width: 768px) {
    .col.col-60, .col.col-40 {
      max-width: 100%;
      float: none;
      clear: both
    }
    .col.col-40 {
      padding-left: 83px;
    }
  }

  .sideNav-footer .dropdown-menu {
    height: 300px;
    width: 380px;
    top: -170px;
    left: 100%;
    margin-left: 33px;
    border-radius: 20px;
    background-color: @dark-4;
    color: @dark-1;
    z-index: 10;
  }

  .sideNav-footer .dropdown-header {
    color: @dark-1;
    font-size: 14px;
    padding: 10px 25px;
  }

  .sideNav-footer .dropdown-body {
    overflow-y: auto;
    max-height: 212px;
  }



  /* width */
  .content-pane-main::-webkit-scrollbar,
  .joblist::-webkit-scrollbar {
    width: 6px;
    border-radius: 45px;
  }

  .dropdown-body::-webkit-scrollbar {
    width: 4px;
  }
  
  .constant-board::-webkit-scrollbar,
  .content-pane-main::-webkit-scrollbar {
    width: 2px;
    border-radius: 45px;
  }

  /* Track */
  .content-pane-main::-webkit-scrollbar-track,
  .jobList::-webkit-scrollbar-track {
    background: @dark-5;
  }

  .jobList::-webkit-scrollbar,
  .history::-webkit-scrollbar {
    width: 4px;
  }

  .constant-board::-webkit-scrollbar-track,
  .history::-webkit-scrollbar-track,
  .dropdown-body::-webkit-scrollbar-track {
      background: @dark-4;
  }

  /* Handle */
  .constant-board::-webkit-scrollbar-thumb,
  .content-pane-main::-webkit-scrollbar-thumb,
  .history::-webkit-scrollbar-thumb,
  .jobList::-webkit-scrollbar-thumb,
  .dropdown-body::-webkit-scrollbar-thumb {
      background: @dark-3;
      border-radius: 4px;
  }

  .dropdown-body::-webkit-scrollbar-thumb {
    background: @dark-3;
}

  /* Handle on hover */

  .history::-webkit-scrollbar-thumb:hover,
  .jobList::-webkit-scrollbar-thumb:hover,
  .dropdown-body::-webkit-scrollbar-thumb:hover {
      background: @dark-2;
      opacity: 1;
  }

  .sideNav-footer .dropdown-footer {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
  }

  .arrow-left {
    position: absolute;
    left: 220%;
    top: 20%;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right:15px solid @dark-4;
    z-index: 2;
  }

  .jobList div:last-child >hr,
  .dropdown-body div:last-child > hr {
    display: none;
  }

  .notification {
    padding: 0 28px;
    cursor: pointer;
    background-color: @dark-4;
  }

  .notification:hover {
    background-color: #1d2637;
  }

  .notificationNEW {
    background-color: rgba(61, 78, 105, 0.4);
  } 

  .fa-stackNotif[data-count]:after{
    position:absolute;
    display: inline;
    right: -12px;
    bottom: 15px;
    content: attr(data-count);
    font-size: 11px;
    padding:.35em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background: @red;
    text-align:center;
    min-width:1.55em;
    font-weight:bold;
  }
/*  SIDE NAVIGATION BAR */

/*  MAIN CONTENT */

  .status-badge {
    border-radius: 50%;
    width: 20px;
    color: #fff;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    padding: 5px 0px;
    display: inline-block;
  }
  .status-badge[status="OPEN"]{
    background: @dark-2;   
  }
  .status-badge[status="ASSIGNED"] {
    background: @blue;   
  }
  .status-badge[status="ONGOING"] {
    background: @orange;   
  }
  .status-badge[status="HOLD"] {
    background: @red;   
  }
  

  .vertical_dotted_line {
    display: inline;
    border-left: 0.75px dotted @dark-3;
  }

  .btn-newJob {
    border:solid @dark-3 1px;
    color: #fff ;
    background: @dark-3;
    border-radius: 30px;
    padding: 4px 16px;
    box-shadow: 0px 2px 16px -3px #18202E
  }

  .btn-assignRider:hover,
  .btn-newJob:hover {
    background-color: @dark-1 !important;
    border:solid @dark-1 1px !important;
    color: @dark-5 !important;
  }

  .btn-assignRider {
    border:solid @green 1px;
    color: #fff ;
    background: @green;
    border-radius: 30px;
    padding: 3px 12px;
  }

  .btn-cancelJob-confirm {
    border-radius: 28px;
    padding: 2px 14px;
    font-size: 11px;
    color: @dark-1;
    background: @dark-3;
    border-color: @dark-3;
  }

  .btn-cancelJob-cancel {
    border-radius: 28px;
    padding: 2px 14px;
    font-size: 11px;
    color: @dark-1;
    background: @dark-4;
    border-color: @dark-3;
  }

  .btn-maintenance{
    outline: none;
    border-radius: 6px;
    border-color: @orange;
    padding: 6px 16px;
    font-size: 13px;
    background: @orange;
    color: #fff;
    box-shadow: #18202e 6px 9px 13px -2px;
  }

  .btn-maintenance:hover {
    color: #fff;  
    opacity: 0.75;
  }

  .btn-cancelJob-confirm:hover,
  .btn-cancelJob-cancel:hover {
    background: @dark-1;
  }

  input.input-jobs:focus {
    outline: none;
  }

  input.input-jobs::placeholder {
    color: @dark-2;
  }

  input.input-jobs {
    border: 1px solid @dark-4;
    font-weight: normal;
    color: @dark-2;
    background-color: @dark-4;
    padding: 4px 4px 4px 30px;
    min-width: 281px;
    border-radius: 20px;
  }

  .search {
    position: relative;
    display: inline-block;
  }

  .btn-tags {
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 1px;
    border-radius: 30px;
    float: left;
    background: @dark-5;
  }

  .btn-viewTags {
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 1px;
    border-radius: 30px;
    float: left;
  }

  .arrowExpand {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .arrowExpanded {
    transform: rotate(90deg);
  }

  .new-job-option button {
    margin-right: 10px;
  }

  .round {
    position: relative;
  }

  .round label {
    background-color: @dark-3;
    border: 1px solid @dark-3;
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 14px;
  }

  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 8px;
  }

  .round input[type="checkbox"] {
    visibility: hidden;
  }

  .round input[type="checkbox"]:checked + label {
    background-color: @green;
    border-color: @green;
  }

  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .modal-content {
    background-color: @dark-4;
    color: @dark-2;
    border-radius: 15px;
    width: 270px;
  }

  .modal-header button {
    color: #fff !important;
    text-shadow: none;
  }

  .modal-header button:hover {
    color: @dark-1 !important;
  }

  .in-hub {
    display: inline;
    background-color: @blue;
    color: #fff;
    padding: 2px 5px;
    margin-left: 10px;
    border-radius: 3px;
  }

  .closeModalButton {
    position: fixed;
    color: #fff;
    border-radius: 15px;
    padding: 6px 10px;
    background-color: @dark-3;
    cursor: pointer;
    border: 1px solid @dark-5;
  }

  .closeModalButton:hover {
    background-color: @dark-1;
    color: @dark-5;
  }

  .jobDetailSection {
    background-color: @dark-4;
    color: @dark-2;
    border-color: @dark-4
  }

  .recurringModal,
  .recurringModal .modal-content {
    width: 300px;
  }

  .editModal,
  .editModal .modal-content {
    width: 370px;
  }

  .newRiderModal,
  .newRiderModal .modal-content,
  .newHubModal,
  .newHubModal .modal-content {
    width: 600px;
  }

  .newTriggersModal,
  .newTriggersModal .modal-content {
    width: 330px;
  }

  .import-job {
    width: 1000px;
  }

  .import-job .modal-content{
    width: 1000px;
    height: max-content;
  }

  .timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: @dark-3;
    left: 31px;
    margin: 0;
    border-radius: 2px;
  }
  .timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }

  .timeline > li > .fa,
  .timeline > li > .glyphicon,
  .timeline > li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    background: @dark-2;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
  }

  .timeline-custom:before {
    width: 2px;
    left: 17px;
    top: 2px;
  }
  
  .history-desc {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: -webkit-fill-available;
    position: absolute;
  }

  .api-danger {
    background: @dark-5 !important;
    color: @red !important;
  }

  .panel-default {
    border-color: @dark-5 !important;
    border-radius: 5px !important;
  }

  .api-success {
    background: @dark-5 !important;
    color: @green !important;
  }

  .api-generate {
    background-color: @blue;
    border-color: @blue;
    color: #fff;
    padding: 3px 6px;
    font-size: 12px;
  }

  .rangeslider {
    background: @dark-2 !important;
  }
  .rangeslider-horizontal .rangeslider__fill {
    background-color: @green !important;
  }

  .riderList {
    padding: 10px 0px;
    display: flex;
  }

  .riderList div {
    display: flex;
    align-items: center;
  }

  .btn-warning {
    background: @orange;
    border-color: @orange;
  }

  .btn-danger {
    background: @red;
    border-color: @red;
  }

  .btn-disable {
    background: @dark-1;
    border-color: @dark-1;
  }

  .addRider .row div .form-group select,
  .addRider .row div .form-group input,
  .addHub .row div .form-group select,
  .addHub .row div .form-group input,
  div#PlacesAutocomplete__root > input {
    background-color: @dark-3 !important;
    border-color: @dark-5 !important;
    color: #fff;
    outline: none;
  }

  .addRider .row div .form-group select::placeholder,
  .addRider .row div .form-group input::placeholder,
  .addHub .row div .form-group select::placeholder,
  .addHub .row div .form-group input::placeholder,
  div#PlacesAutocomplete__root > input {
    color: @dark-2;
  }
  

  div#PlacesAutocomplete__root > input {
    background: #232e42;
    color: white !important;
    border: none;
  }

  /* dashboard*/

  .jobReview {
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -35px;
    height: 45vh;
    padding-left: 88px;
    padding-right: 155px;
  }

  .jobReview::-webkit-scrollbar {
    width: 3px;
  }

  .jobReview div:last-child > hr {
    display: none;
  }

  .jobReview::-webkit-scrollbar-thumb {
    background: @dark-3;
  }
  .jobReview::-webkit-scrollbar-track {
    background: @dark-5;
  }

/*  MAIN CONTENT */

  .input-main {
    padding: 10px 20px;
    border-radius: 16px;
    min-width: 310px;
    background: @dark-4;
    font-size: 10px;
    border: 0;
    color: @dark-2;
    border-radius: 20px;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
  }

  .input-xs {
    .input-main;
    min-width: 0px !important;

  }

  .input-form-control {
    height: 34px;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: block;
    width: 100%;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .input-form-control:focus {
    color: @dark-2;
    background: @dark-4;
    outline: 0;
  }

  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder,
  select:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  .select-main {
    padding: 10px 20px;
    border-radius: 16px;
    background: @dark-4;
    font-size: 10px;
    border: 0;
    color: @dark-2;
    border-radius: 20px;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
  }

  .select-form-control {
    height: 34px;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: block;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .select-form-control:focus {
    color: @dark-2;
    background: @dark-4;
    outline: 0;
  }

 // datepicker
  .rdt > input, .rdt.rdtOpen {
    font-size: 10px;
  }

  .dashboard-param button {
    padding: 6px 6px !important;
    font-size: 12px !important;
    line-height: 1.7;
  }
  // react select
  .Select-placeholder, .Select-control {
    background: @dark-4;
    font-size: 10px;
  }

  span.Select-value-label {
    color: @dark-2 !important;
  }

  .Select-control {
    border-radius: 25px;
    border: none;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
  }

  .rdt > input {
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
  }

  // next step
  .new-job-button {
    bottom: 25px;
    position: absolute;
    width: 100%;
  }

  div#PlacesAutocomplete__autocomplete-container {
    z-index: 10 !important;
  }

  .btn-white,
  .btn-active {
    border-radius: 24px;
    width: 90px;
    padding: 4px 0px;
    outline: 0;
    font-size: 11px;
  }

  .btn-active {
    border: solid @dark-4 1px;
    color: white ;
    background: @dark-3;
  }

  .btn-white {
    border:solid @dark-3 1px;
    color: white ;
    background: @dark-5;
  }

  .advDateTime .form-control{
    background-color: @dark-5;
    color: #fff;
    font-size: 11px;
    margin-top: -5px;
  }

  .regularJob .form-control,
  .advanceJob .form-control {
    background-color: @dark-4;
    color: @dark-1;
  }

  /* CALENDAR */
  td.fc-day-top.fc-fri.fc-today {
    color: black;
  }

  th.fc-day-header.fc-widget-header {
    background: #232E42;
    font-weight: normal;
    color: #8792AA;
  }

  td.fc-day {
    background: #232E42;
  }

  .fc-other-month.fc-past, .fc-other-month.fc-future {
    background: #20283B !important;
  }

  .fc-unthemed td, th.fc-day-header.fc-widget-header {
    border-color: #1D2636;
  }

  span.fc-day-number {
    color: #697790;
  }

  .fc-day-top > span {
    width: 18px;
    text-align: right;
    position: absolute;
    top: 65px;
    margin-left: 100px;
  }

  .fc-row.fc-week.fc-widget-content {
    height: 87px !important;
  }

  /* .fc-row.fc-widget-header table thead tr th {
    width: 87px !important;
  } */
  
  .fc-state-default {
    text-shadow: none !important;
  }

  a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
    margin: 5px;
  }

  td.fc-day.fc-widget-content.fc-today {
    background: #161A23 !important;
  }

  button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    background: #33435C;
    color: #A4ABB9;
    border-color: #445474;
    border-radius: 45% 0 0 45%;
  }
  button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    border-radius: 0 45% 45% 0;
    background: #33435C;
    color: #A4ABB9;
    border-color: #445474;
  }

  .fc-left > h2 {
    font-weight: normal;
    font-size: 24px;
  }

  button.selected-date-range-btn.btn.btn-default {
    float: right;
    margin-top: -20px;
    margin-left: 10px;
    background: #1d2637;
    color: @dark-1;
    border-color: @dark-2;
  }

  button.selected-date-range-btn.btn.btn-default.custom {
    float: right;
    background: @dark-3;
    border-color: @dark-5;
    border-radius: 50px;
  }

  .selected-date-range-btn .dropdown-menu {
    width: auto !important;
    height: auto !important;
  }

  .daterangepicker.dropdown-menu.ltr.opensright.show-calendar {
    display: flex;
    width: auto !important;
    right: 30px;
  }

  select.custom-select.form-control.mb-2.mr-sm-2.mb-sm-0 {
    width: auto !important;
    color: @dark-1;
    border-color: @dark-2
  }

  .calendar-prev {
    border-radius: 30px 0 0 30px;
  }

  .calendar-next {
    border-radius: 0 30px 30px 0;
  }

  .calendar-button {
    border: solid #3D4E69 1px;
    color: #fff;
    background: #33435C;
    padding: 4px 16px;
    box-shadow: 0px 2px 16px -3px #18202E;
    font-size: 12px !important;
  }

  .calendar-prev:focus, .calendar-next:focus {
    outline: none !important;
  }

  .calendar-today {
    border: solid #3D4E69 1px;
    color: #fff;
    background: #33435C;
    padding: 4px 16px;
    box-shadow: 0px 2px 16px -3px #18202E;
    font-size: 12px !important;
    border-radius: 30px !important;
  }

  .calendar-button-active {
    background: #2C3850;
  }
  /* .highcharts-container {
    border: 1px solid #29364d;
  } */

  /* CALENDAR */


  .small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 2px 0;
    color: #fff;
    color: hsla(0,0%,100%,.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,.1);
    text-decoration: none;
  }

  .review-avatar {    
    float: left;
    padding: 10px;
    background: #2b74bf;
    height: 50px;
    line-height: 35px;
    border-radius: 50px;
    text-align: center;
    min-width: 50px;
  }
  
/*  RIGHT PANE */
  .right-pane-box {
    background: #374760;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(24, 32, 46) 0px 4px 13px -4px;
  }

  .font-8.location:last-child > hr {
    display: none;
  }

  .font-8.closed:last-child > hr {
    display: none;
  }

/* RIGHT PANE */


/* GLOBAL CLASS */

  /* FONT SIZE */
    .font-18 {
      font-size: 18px;
    }

    .font-16 {
      font-size: 16px;
    }

    .font-14 {
      font-size: 14px;
    }

    .font-12 {
      font-size: 12px;
    }

    .font-10 {
      font-size: 11px;
    }

    .font-8 {
      font-size: 8px;
    }

    .left {
      float: left;
    }
    
    .block {
      display: block;
    }
  /* FONT SIZE */

  /* Misc */
  .overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: -webkit-fill-available;
    display: block !important;
  }
  .overflow-breakword {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word !important;
    display: block !important;
  }
  textarea {
    resize: none;
  }

/* GLOBAL CLASS */
.newHubModal {
  padding-top: 0 !important;
}

th.recently-closed {
  font-size: 12px;
  font-weight: normal;
  color: @dark-1;
}

table#table-to-xls {
  font-size: 10px;
  color: @dark-2;
}

.download-label {
  color: @dark-2;
}
.table .table {
  background-color: #1d2637 !important;
}

.table.table-hover>tbody>tr>td,
.table.table-hover>tbody>tr>th {
  border-top: 1px solid @dark-3;
}

.locate-label {
  margin-top: 16px;
  position: absolute;
  z-index: 99999999;
  max-width: 500px;
  margin-left: 20px;
}

.locate-input {
  margin-top: 50px;
  position: absolute;
  z-index: 99999999;
  max-width: 500px;
  margin-left: 10px;
}

/*  PROGRESS BAR */
#nprogress .bar {
  background: @green !important;
  z-index: 99999999;
}

#nprogress .peg {
  box-shadow: 0 40px 50px @green, 0 0 5px @green !important;
  z-index: 99999999;
}

#nprogress .spinner-icon {
  border-top-color: @green !important;
  border-left-color: @green !important;
  z-index: 99999999;
}

.tags-triggers div.ReactTags__tagInput {
  width: 285px;
  padding: 0px 8px
}

.daterangepicker.dropdown-menu.ltr.opensright.show-calendar{
  top: 98.4px;
  left: auto;
  right: 0px;
  background-color: @dark-5; // date picker background color
}
.table-hover>tbody>tr:hover {
  background-color: @dark-4 !important;
}

div.highcharts-container {
  border: 1px solid #374760 !important;
}
button.applyBtn.btn.btn-sm.btn-success {
  color: @dark-1;
  border-color: @dark-2;
  background-color: @dark-4;
}

button.cancelBtn.btn.btn-sm.btn-default{
  color: @dark-1;
  border-color: @dark-2;
  background-color: @dark-4;
}

.highcharts-loading {
  background: none !important;
}

.report-pdf {
  border: solid #3D4E69 1px;
  color: #fff;
  background: #33435C;
  padding: 4px 16px;
  box-shadow: 0px 2px 16px -3px #18202E;
  font-size: 12px !important;
  border-radius: 30px 0 0 30px;
}

button#test-table-xls-button {
  border: solid #3D4E69 1px;
  color: #fff;
  background: #33435C;
  padding: 4px 16px;
  box-shadow: 0px 2px 16px -3px #18202E;
  font-size: 12px !important;
  border-radius: 0 30px 30px 0;
}

g.highcharts-legend {
  display: none;
}

.right-inner-addon .form-control {
  height: 36px;
  padding: 6px 24px;
}

.fc-day > .add-job, .fc-day:hover > .tooltipevent {
  visibility: hidden;
}
.fc-day:hover > .add-job, .fc-day:hover .tooltipevent {
  visibility: visible;
}

.calendar-tooltip:hover:before {
  content: attr(data-tooltip);
  padding: 5px 10px;
  margin: 20px 0 0 40px;
  background: #374760;
  color: #fff;
  border-radius: 3px;
  z-index: 9999;
  position: fixed;
  width: 180px;
  font-size: 12px;
}

.calendar-tooltip:hover:after {
  content: "";
  margin: 35px 0 0 30px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #374760;
  border-bottom: 5px solid transparent;
  z-index: 9999;
  position: fixed;
}

.history-tooltip {
  position: relative;
}

.history-tooltip .history-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -60px;
}

.history-tooltip:hover .history-tooltiptext {
  visibility: visible;
}

/** custom switch button **/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  outline: none;
}
.switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.sliderCustom {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 5px;
  bottom: 0;
  background-color: #3D4E69;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  min-width: 50px;
}
.sliderCustom:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .sliderCustom {
  background-color: #2ba57d;
}
input:focus + .sliderCustom {
  box-shadow: 0 0 1px #2ba57d;
}
input:checked + .sliderCustom:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 1024px) {
  .dashboard-param {
    margin-top: 35px;
    width: 100%;
    position: absolute;
    margin-left: -25px;
  }
  .box-header.with-border {
    margin-top: 70px !important;
  }
}

/* AUTOFILL CSS */

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffff;
  transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes autofill {
  to {
      color: #ffff;
  }
}

:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.gmnoprint.gm-style-cc + button,
.gm-fullscreen-control {
  display: none;
}

.gm-bundled-control .gmnoprint, .gmnoprint:not(.gm-bundled-control), .gm-style > div:not(:first-child) {
  /* display: none; */
}

.dashboard-param .rdt input.form-control, .dashboard-param .rdt.rdtOpen input.form-control {
  border-radius: 5px;
  background: #1d2737;
  border: 1px solid #7b89a4;
}

.rdtPicker {
  position: fixed;
  z-index: 9999;
}

.multi-select .options {
  background-color: #1c2736;
}

.multi-select {
  min-width: 200px;
  max-width: 300px;
  background-color: #1e2837;
}

.widget div.highcharts-container{
  border: 0px solid !important;
}

.change-pass:hover {
  color: @dark-1;
}